@media all and (max-width: 1000px) {
  .transisi img {
    width: 50%;
    height: 50%;
  }
  .intro p {
    font-size: 16px;
    padding: 0 150px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  aside {
    display: none;
  }
  .info {
    background-position: 0;
  }
  .info-wrapper h3 {
    font-size: 18px;
  }
  /* FOOTER */
  footer {
    height: 120px;
  }
  .footer-inf {
    margin: 0 70px;
    font-size: 10px;
  }
  .bottom-footer {
    margin-top: 5px;
    padding: 0 200px;
    font-size: 10px;
  }
  .transisi-wrapper {
    flex-direction: column;
  }
  /* AKHIR FOOTER */
  /* 
   */
  .thumbnail {
    width: 450px;
    justify-content: flex-start;
  }
  .title {
    font-size: 30px;
    margin-bottom: 0;
  }
}
@media all and (max-width: 600px) {
  .right-nav {
    display: none;
  }

  .transisi img {
    width: 50%;
    height: 50%;
  }

  .content {
    width: 500px;
  }
  .info {
    background-position: 0;
  }
  .intro p {
    font-size: 15px;
    padding: 0 70px;
  }
  .info-wrapper h3 {
    margin: 0 -100px;
    font-size: 12px;
  }
  .info-wrapper h2 {
    font-size: 18px;
  }
  aside {
    display: none;
  }

  /* FOOTER */
  footer {
    width: 120;
    height: 120px;
  }
  .footer-inf {
    margin: 0 25px;
    font-size: 10px;
  }
  .bottom-footer {
    padding: 0 100px;
    font-size: 10px;
  }
  /* AKHIR FOOTER */
}
